* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.nav,
.footer {
  background-color: #2c3e50;
}
.home,
.about {
  background-color: #1abc9c;
}
.line {
  height: 5px;
  width: 90px;
  background-color: #fff;
}

.line-contact {
  height: 5px;
  width: 90px;
  background-color: #2c3e50;
}
.social-icon::before {
  content: "";
  padding: 11px;
  border: solid 1px #fff;
  border-radius: 50%;
}
.bottom-footer {
  background-color: #1a252f;
}
.nav-link.active {
  width: fit-content;  
  background-color: #1abc9c;
  border-radius: 10px;
}
